* {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
body {
}
.mrsimple {
    background-color: black;
}
.headmrsimple {
    height: 60px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headmrsimple-name {
    color: white;
}
.headmrsimple-name:hover {
    cursor: pointer;
}
.headmrsimple-find {
    display: flex;
    justify-content: flex-start;
}
.headmrsimple-find-1 i:hover {
    cursor: pointer;
}
.headmrsimple-find-2 {
    background-color: brown;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
::placeholder {
    color: white;
}
.headmrsimple-right {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headmrsimple-option{
    width: 65%;
    display: flex;
    justify-content: space-between;
    outline: none;

}
.headmrsimple-option > select{
    background-color: brown;
    border: none;
    color: white;
    outline: none;

}
.headmrsimple-option > select > option {
    background-color: white;
    color: black;
}
.headmrsimple-login {
    color: white;
}
.headmrsimple-login:hover {
    cursor: pointer;
    color: yellow;
}
.headmrsimple-contact {
    color: white;
}
.headmrsimple-contact:hover {
    cursor: pointer;
    color: yellow;
}
.headmrsimple-icon > i:hover {
    color: yellow;
    cursor: pointer;
}
.vid {
    width: 100%;
    height: 500px;
}
.mrsimple-body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(8, 8, 8);
}
.mrsimple-photo {

}
.mrsimple-photo > a > .photo {
    width: 250px;
    height: 400px;
    margin-right: 100px;
    margin-left: 250px;
    margin-top: 50px;
    border-radius: 5%;
}
.mrsimple-photo > a > .photo:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;
    transition: 0.7s ease-in-out;
}
.mrsimple-end {
    background-color: brown;
    height: 70px;
    text-align: center;
}
.mrsimple-end > div > label {
    color: white;
    margin: 50px;
}
.mrsimple-end > div > .mail {
    background-color: brown;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    outline: none;

}
.mrsimple-end > div > button {
    background-color: brown;
    color: white;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 6px;
}
.mrsimple-end > div > button:hover {
    cursor: pointer;
    color: yellow;
}